* {
    margin: 0;
    padding: 0;
}


@import url('https://fonts.googleapis.com/css2? family=Barlow+Condensado:ital,wght@0,400;1,500&display=swap');

nav {
    background-color: #ffff;
    /* padding: 10px 90px 10px 90px; */
}

nav li {
    padding: 20px;
}


nav ul {
    text-align: right;

}

#titulo {
    margin-top: 100px;
}

a {
    font-weight: 600;
    text-decoration: none;
    color: rgb(52, 63, 86);
    list-style: none;
}



body {
    background: linear-gradient(#F0F8FF, #c0d0df);
    font-family: 'Barlow Condensado', sans-serif;


}

/* .tituloprincipal {
    font-weight: 700;
    font-size: 50px;
        color: rgb(52, 63, 86);
        text-align: center;
        background-image: url(imagenes/header4.jpg);
    padding: 100px;
    margin: 150px 50px 350px 50px;
}

*/
.empresa {
    margin-top: 200px;
}

.imgempresa {
    /* margin-left: 50px; */
}

.tituloempresa {
    color: rgb(52, 63, 86);
}

.descripcionEmpresa {
    /* padding-left: 30px;
    padding-right: 30px; */
    /* width: 400px; */
}

.iconos {
    margin-top: 40px;
    padding-bottom: 10px;
}

.textoscaracteristicas {
    text-align: center;
    /* width: 100px; */
    margin-top: 20px;
}

.nombresiconos {
    padding-bottom: 10px;
    color: rgb(52, 63, 86);
}

.contacto {
    padding-left: 200px;
    padding-top: 0px;
}


footer {
    color: rgb(52, 63, 86);
    padding: 10px;
    background-color: #ffff;
    margin-top: 20px;
}

.tituloempresa {
    font-family: 'Barlow Condensado', sans-serif;
    color: rgb(52, 63, 86);
}

section {
    /* margin: 40px 20px 20px 20px; */
}



.tituloproductos {
    font-weight: 700;
    padding: 40px;
}


.tituloservicios,
.titulocontactanos {
    color: rgb(52, 63, 86);
    text-align: left;
    font-size: 30px;
    margin-top: 40px;
    font-weight: 700;
}

.imgProductoslinea1,
.imgProductoslinea2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.imgProductoslinea1 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.imgProductoslinea2 {
    margin-bottom: 30px;
}

.marcas {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.servicios {
    margin-top: 200px;
    margin-left: 50px;
}

.listadeservicios {
    margin-bottom: 200px;
}

.listadeservicios li {
    padding-top: 40px;
    padding-bottom: 40px;
}

.tituloservicios {
    padding-bottom: 50px;
}

.tituloservicios li {
    padding-bottom: 100px;
}

.contacto {
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contactanos {
    width: 400px;
}

.contactanos div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
}

legend {
    text-align: center;
    font-weight: 700;
}

fieldset {
    background-color: #b3c6f0;
    height: 700px;
    width: 400px;
}

label,
input {
    height: 30px;
    width: 400px;
    margin: 30px 30px 30px 30px;
}

.empresa {
    /* margin-left: 250px; */
    margin-top: 150px;
    margin-bottom: 80px;
    /* height: 200px;
    width: 1000px; */
}

/* MEDIA QUERIS */

@media screen and (min-width: 1200px) {
    ul {
        text-align: right;
    }

    a {
        font-family: 'Barlow Condensado', sans-serif;
        font-weight: 600;
        text-decoration: none;
        color: rgb(52, 63, 86);
        list-style: none;
    }

    a {
        transition: font-weight 0, 5s;
    }

    a:hover {
        font-weight: 800;
    }

    .empresa {
        /* margin-left: 250px; */
        margin-top: 200px;
        margin-bottom: 80px;
        /* height: 200px;
    width: 1000px; */
    }

    .imgempresa {
        /* margin-left: 100px; */
        height: 50%;
        width: 50%;
    }

    .iconos {
        margin-top: 40px;
        padding-bottom: 10px;
    }


    .textoscaracteristicas {
        text-align: center;
        /* width: 150px; */
        margin-top: 20px;

    }

    .nombresiconos {
        padding-bottom: 10px;
        color: rgb(52, 63, 86);
    }

    footer {
        color: rgb(52, 63, 86);
        background-color: #ffff;
        padding: 10px;
        margin-top: 20px;
    }
}