@import url("https://fonts.googleapis.com/css2? family=Barlow+Condensado:ital,wght@0,400;1,500&display=swap");

@import"colores";

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #ffff;

    .logoNav {
        height: 50%;
        width: 50%;
    }

    li {
        padding: 20px;
    }


}


#titulo {

    font-family: 'Barlow Condensado', sans-serif;
    font-weight: bold;
    color: $colorprimario;
}



body {
    background-color: #EAF2E1;
    font-family: 'Barlow Condensado', sans-serif;
}

.empresa {
    margin-top: 150px;
    margin-bottom: 80px;

}

h3 {
    color: $colorprimario
}

.tituloempresa {
    color: $colorprimario;
}

.caracteristicas {
    width: 14rem;
}

.producto {
    padding: 1rem;

}

.contacto {
    padding-left: 5%;

}

footer {
    color: $colorprimario;
    padding: 10px;
    background-color: #ffff;
    margin-top: 20px;
}

.tituloempresa {
    font-family: 'Barlow Condensado', sans-serif;
    color: $colorprimario;
}

#tituloproductos {
    margin-top: 150px;
    color: $colorprimario;
    font-size: 30px;
    margin-left: 100px;
    font-weight: bold;
    margin-bottom: 30px;
}

.producto {
    font-size: larger;

}

.shadow {
    height: 150px;
    width: 150px;
}

#titulomarcas {
    margin-top: 2rem;
    color: $colorprimario;
    font-size: 30px;

    font-weight: bold;
    margin-bottom: 1rem;
}

.marca {
    padding: 1rem;
}

.marcas {
    margin: 3rem;
}



.tituloservicios,
.titulocontactanos {
    color: $colorprimario;
    text-align: left;
    font-size: 30px;
    margin-top: 40px;
    padding-bottom: 20px;
    font-weight: 700;
}



.iconouno {
    grid-area: iconouno;
}

.itemuno {
    grid-area: itemuno;
}

.iconodos {
    grid-area: iconodos;
}

.itemdos {
    grid-area: itemdos;
}

.iconotres {
    grid-area: iconotres;
}

.itemtres {
    grid-area: itemtres;
}

.tituloservicios {
    grid-area: tituloservicios;

}

.servicios {
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 12rem;
    display: grid;
    grid-template-areas: "tituloservicios tituloservicios"
        "iconouno itemuno"
        "iconodos itemdos"
        "iconotres itemtres";
    justify-content: start;
    align-items: center;
    column-gap: 3rem;
    row-gap: 2rem;

}

.contacto {
    margin-top: 10%;

}

.iconoTelefono {
    grid-area: iconotel;
}

.iconoWsp {
    grid-area: iconowsp;
}

.iconoMap {
    grid-area: iconomap;
}

.iconoEmail {
    grid-area: iconomail;
}

.telefono {
    grid-area: tel;
}

.celular {
    grid-area: cel;
}

.email {
    grid-area: mail;
}

.direccion {
    grid-area: direccion;
}

iframe {
    grid-area: iframe;
}

.contactanos {
    display: grid;
    grid-template-areas:
        "iconotel tel"
        "iconowsp cel"
        "iconomail mail"
        "iconomap direccion"
        "iframe iframe";
    justify-content: left;
    row-gap: 3%;
    column-gap: 3%;
    margin-bottom: 100px;

}

.formulario {

    background-color: $colorprimario;
    color: #ffff;
    font-weight: bold;
    padding: 2%;
    border-radius: 2%;
}







/* MEDIA QUERIS */
@media screen and (min-width: 320px) and (max-width:1199px) {
    #card {
        margin-top: 130px;
    }

    #titulo {
        font-size: large;
        color: $colorprimario;
    }

    .logoFooter {
        width: 50%;
        height: auto;


    }

    .nav-link {
        color: $colorprimario;
        font-weight: 550;
    }

    .formulario {
        width: 90%;
    }

    footer {
        font-size: 15px;
    }
}

@media screen and (min-width: 1200px) {
    ul li a {
        font-family: 'Barlow Condensado', sans-serif;


    }

    #titulo {
        font-size: 3rem;
        margin-top: 12rem;
        margin-left: 9rem;
        margin-right: 9rem;

    }

    #card {
        margin-top: 8rem;
    }


    .nav-link,
    .btn {
        color: $colorprimario;
        font-weight: 450;
        transition: font-weight 0, 5s;

        &:hover {

            font-weight: 700;
        }
    }

    .empresa {
        margin-top: 200px;
        margin-bottom: 60px;
        margin-left: 12rem;
    }

    .imgempresa {
        height: auto;
        width: 60%;
    }

    .iconos {

        padding-bottom: 10px;
    }

    .textoscaracteristicas {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;

    }

    .nombresiconos {
        padding-bottom: 10px;
        color: $colorprimario;
    }


    .formulario {
        width: 60%;
    }

    footer {
        color: $colorprimario;
        background-color: #ffff;
        padding: 10px;
        margin-top: 20px;
    }
}

/*# sourceMappingURL=style.css.map */