@import url("https://fonts.googleapis.com/css2? family=Barlow+Condensado:ital,wght@0,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,400;1,500&family=Teko:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Barlow Condensado', sans-serif;
  background-color: #EAF2E1;
}

footer {
  color: #343f56;
  padding: 10px;
  background-color: #ffff;
}

@media screen and (min-width: 1200px) {
  footer {
    font-size: 15px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  footer {
    font-size: 10px;
  }
  footer .logoFooter {
    width: 50%;
    height: auto;
  }
}

nav {
  background-color: #ffff;
}

@media screen and (min-width: 1200px) {
  .logoNav {
    height: 50%;
    width: 90%;
    padding: 10px 200px 10px 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .logoNav {
    height: 50%;
    width: 60%;
    padding-left: 10px;
  }
}

.nav-item {
  padding-left: 10px;
  color: #ffff;
  font-weight: 550;
  -webkit-transition: font-weight 0, 5s;
  transition: font-weight 0, 5s;
}

@media screen and (min-width: 1200px) {
  .nav-item {
    padding: 20px;
  }
}

.nav-item:hover {
  font-weight: 800;
}

#titulo {
  color: #ffff;
  background-image: url(../../../../imagenes/fondo.webp);
  background-attachment: fixed;
  background-size: cover;
  padding: 10%;
  padding-top: 12%;
  font-family: 'Teko', sans-serif;
  font-weight: bold;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  #titulo {
    font-size: 25px;
    margin-top: 30%;
    text-align: center;
    padding: 15%;
  }
}

@media screen and (min-width: 1200px) {
  #titulo {
    text-align: center;
    font-size: 4rem;
    margin-top: 7%;
  }
}

#linea {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  color: #343f56;
}

#descripcion {
  text-align: center;
  font-size: 35px;
  color: #343f56;
  font-weight: 300;
  padding: 5%;
  padding-top: 2%;
  padding-bottom: 1%;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  #descripcion {
    font-size: 20px;
  }
}

#boton {
  font-size: 20px;
  font-weight: 700;
  color: #343f56;
  background-color: #ffff;
  border: solid;
  -webkit-transition: 5s, -webkit-text-decoration 0;
  transition: 5s, -webkit-text-decoration 0;
  transition: text-decoration 0, 5s;
  transition: text-decoration 0, 5s, -webkit-text-decoration 0;
}

#boton:hover {
  text-decoration: underline;
}

@media screen and (min-width: 1200px) {
  #boton {
    margin: 0px 0px 5% 47%;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  #boton {
    font-size: 15px;
    margin: 0px 0px 5% 35%;
  }
}

.empresa {
  margin-top: 200px;
  margin-bottom: 80px;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .empresa {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .empresa {
    margin-left: 11rem;
    font-size: 25px;
  }
}

.empresa .tituloempresa {
  font-family: 'Teko', sans-serif;
  color: #343f56;
}

@media screen and (min-width: 1200px) {
  .empresa .imgempresa {
    width: 60%;
  }
}

#linea {
  text-align: center;
  color: #343f56;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 2%;
}

#section2 {
  background-color: rgba(255, 255, 255, 0.446);
  padding: 3%;
}

.caracteristicas {
  font-size: 20px;
  width: 14rem;
}

.caracteristicas h3 {
  font-family: 'Teko', sans-serif;
  color: #343f56;
}

#tituloproductos {
  margin-top: 150px;
  margin-left: 100px;
  font-family: 'Teko', sans-serif;
  color: #343f56;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  #tituloproductos {
    font-size: 25px;
    margin-left: 50px;
  }
}

.producto {
  padding: 1rem;
  font-size: larger;
}

.shadow {
  height: 150px;
  width: 150px;
}

.marcas {
  margin: 3rem;
}

.marcas #titulomarcas {
  margin-top: 2rem;
  font-family: 'Teko', sans-serif;
  color: #343f56;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1rem;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .marcas #titulomarcas {
    font-size: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .marcas #logoMarcas {
    height: 50%;
    width: 100%;
  }
}

.marcas .marca {
  padding: 1rem;
}

.tituloservicios, .titulocontactanos {
  font-family: 'Teko', sans-serif;
  color: #343f56;
  font-size: 30px;
  margin-top: 40px;
  padding-bottom: 20px;
  font-weight: 500;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: tituloservicios;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .tituloservicios, .titulocontactanos {
    margin-top: 150px;
    margin-left: 10px;
  }
}

.iconouno {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: iconouno;
}

.itemuno {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: itemuno;
}

.iconodos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: iconodos;
}

.itemdos {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: itemdos;
}

.iconotres {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: iconotres;
}

.itemtres {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: itemtres;
}

.servicios {
  grid-area: servicios;
  margin-left: 10px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "tituloservicios tituloservicios" "iconouno itemuno" "iconodos itemdos" "iconotres itemtres";
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 2rem;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .servicios {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .servicios {
    margin-bottom: 12rem;
  }
}

#catalogo {
  margin-top: 2%;
  background-color: gold;
  color: #343f56;
  text-align: center;
  font-size: 25px;
  grid-area: catalogo;
}

#catalogo p {
  margin-top: 5%;
  padding-bottom: 2%;
}

#catalogo img {
  height: 350px;
  padding: 3%;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  #catalogo img {
    height: 300px;
  }
}

#mainServicios {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .titulocontactanos {
    margin-top: 170px;
  }
}

.contacto {
  padding-left: 10%;
  margin-top: 12%;
}

.iconoTelefono {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: iconotel;
}

.iconoWsp {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: iconowsp;
}

.iconoMap {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: iconomap;
}

.iconoEmail {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: iconomail;
}

.telefono {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tel;
}

.celular {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cel;
}

.email {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: mail;
}

.direccion {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: direccion;
}

iframe {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: iframe;
}

.contactanos {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "iconotel tel" "iconowsp cel" "iconomail mail" "iconomap direccion" "iframe iframe";
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  row-gap: 3%;
  -webkit-column-gap: 3%;
          column-gap: 3%;
  margin-top: 10px;
  margin-bottom: 100px;
}

.formulario {
  background-color: #343f56;
  color: #ffff;
  font-weight: bold;
  padding: 2%;
  border-radius: 2%;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .formulario {
    width: 90%;
  }
}

@media screen and (min-width: 1200px) {
  .formulario {
    width: 60%;
  }
}

.formulario button {
  margin: 2%;
}

/*#sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */