@import url("https://fonts.googleapis.com/css2? family=Barlow+Condensado:ital,wght@0,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: #ffff;
}

nav .logoNav {
  height: 50%;
  width: 50%;
}

nav li {
  padding: 20px;
}

#titulo {
  font-family: 'Barlow Condensado', sans-serif;
  font-weight: bold;
  color: #343f56;
}

body {
  background-color: #EAF2E1;
  font-family: 'Barlow Condensado', sans-serif;
}

.empresa {
  margin-top: 150px;
  margin-bottom: 80px;
}

h3 {
  color: #343f56;
}

.tituloempresa {
  color: #343f56;
}

.caracteristicas {
  width: 14rem;
}

.producto {
  padding: 1rem;
}

.contacto {
  padding-left: 5%;
}

footer {
  color: #343f56;
  padding: 10px;
  background-color: #ffff;
  margin-top: 20px;
}

.tituloempresa {
  font-family: 'Barlow Condensado', sans-serif;
  color: #343f56;
}

#tituloproductos {
  margin-top: 150px;
  color: #343f56;
  font-size: 30px;
  margin-left: 100px;
  font-weight: bold;
  margin-bottom: 30px;
}

.producto {
  font-size: larger;
}

.shadow {
  height: 150px;
  width: 150px;
}

#titulomarcas {
  margin-top: 2rem;
  color: #343f56;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 1rem;
}

.marca {
  padding: 1rem;
}

.marcas {
  margin: 3rem;
}

.tituloservicios,
.titulocontactanos {
  color: #343f56;
  text-align: left;
  font-size: 30px;
  margin-top: 40px;
  padding-bottom: 20px;
  font-weight: 700;
}

.iconouno {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: iconouno;
}

.itemuno {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: itemuno;
}

.iconodos {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: iconodos;
}

.itemdos {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: itemdos;
}

.iconotres {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: iconotres;
}

.itemtres {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: itemtres;
}

.tituloservicios {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: tituloservicios;
}

.servicios {
  margin-top: 10%;
  margin-left: 10%;
  margin-bottom: 12rem;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "tituloservicios tituloservicios" "iconouno itemuno" "iconodos itemdos" "iconotres itemtres";
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3rem;
          column-gap: 3rem;
  row-gap: 2rem;
}

.contacto {
  margin-top: 10%;
}

.iconoTelefono {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: iconotel;
}

.iconoWsp {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: iconowsp;
}

.iconoMap {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: iconomap;
}

.iconoEmail {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: iconomail;
}

.telefono {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: tel;
}

.celular {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: cel;
}

.email {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: mail;
}

.direccion {
  -ms-grid-row: 4;
  -ms-grid-column: 2;
  grid-area: direccion;
}

iframe {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: iframe;
}

.contactanos {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "iconotel tel" "iconowsp cel" "iconomail mail" "iconomap direccion" "iframe iframe";
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  row-gap: 3%;
  -webkit-column-gap: 3%;
          column-gap: 3%;
  margin-bottom: 100px;
}

.formulario {
  background-color: #343f56;
  color: #ffff;
  font-weight: bold;
  padding: 2%;
  border-radius: 2%;
}

/* MEDIA QUERIS */
@media screen and (min-width: 320px) and (max-width: 1199px) {
  #card {
    margin-top: 130px;
  }
  #titulo {
    font-size: large;
    color: #343f56;
  }
  .logoFooter {
    width: 50%;
    height: auto;
  }
  .nav-link {
    color: #343f56;
    font-weight: 550;
  }
  .formulario {
    width: 90%;
  }
  footer {
    font-size: 15px;
  }
}

@media screen and (min-width: 1200px) {
  ul li a {
    font-family: 'Barlow Condensado', sans-serif;
  }
  #titulo {
    font-size: 3rem;
    margin-top: 12rem;
    margin-left: 9rem;
    margin-right: 9rem;
  }
  #card {
    margin-top: 8rem;
  }
  .nav-link,
  .btn {
    color: #343f56;
    font-weight: 450;
    -webkit-transition: font-weight 0, 5s;
    transition: font-weight 0, 5s;
  }
  .nav-link:hover,
  .btn:hover {
    font-weight: 700;
  }
  .empresa {
    margin-top: 200px;
    margin-bottom: 60px;
    margin-left: 12rem;
  }
  .imgempresa {
    height: auto;
    width: 60%;
  }
  .iconos {
    padding-bottom: 10px;
  }
  .textoscaracteristicas {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .nombresiconos {
    padding-bottom: 10px;
    color: #343f56;
  }
  .formulario {
    width: 60%;
  }
  footer {
    color: #343f56;
    background-color: #ffff;
    padding: 10px;
    margin-top: 20px;
  }
}
/*# sourceMappingURL=style.css.map */