#titulo {
    color: map-get($map: $colors, $key: blanco);
    background-image:url(/imagenes/fondo.webp);
    background-attachment: fixed;
    background-size: cover;

    padding: 10%;
    padding-top: 12%;
    font-family: 'Teko', sans-serif;


    font-weight: bold;

    @media screen and (min-width: 320px) and (max-width:1199px) {
        font-size: 25px;
        margin-top: 30%;
        text-align: center;
        padding: 15%;
    }

    @media screen and (min-width: 1200px) {
        text-align: center;
        font-size: 4rem;
        margin-top: 7%;
        ;


    }

}

#linea {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: map-get($map: $colors, $key:subtitulos);
}

#descripcion {
    text-align: center;
    font-size: 35px;
    color: map-get($map: $colors, $key:subtitulos);
    font-weight: 300;
    padding: 5%;
    padding-top: 2%;
    padding-bottom: 1%;

    @media screen and (min-width: 320px) and (max-width:1199px) {
        font-size: 20px;

    }
}

#boton {

    font-size: 20px;
    font-weight: 700;
    color: map-get($map: $colors, $key:subtitulos);
    background-color: map-get($map: $colors, $key: blanco);
    border: solid;
    transition: text-decoration 0, 5s;

    &:hover {

        text-decoration: underline;
    }

    @media screen and (min-width: 1200px) {
        margin: 0px 0px 5% 47%;
    }

    @media screen and (min-width: 320px) and (max-width:1199px) {
        font-size: 15px;
        margin: 0px 0px 5% 35%;
    }

}