#tituloproductos {
    @include margins (150px, 100px);
    font-family: 'Teko', sans-serif;
    color: map-get($map:$colors, $key:subtitulos);
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;

    @media screen and (min-width: 320px) and (max-width:1199px) {
        font-size: 25px;
        margin-left: 50px;
    }
}

.producto {
    padding: 1rem;
    font-size: larger;

}

.shadow {
    height: 150px;
    width: 150px;
}


.marcas {
    margin: 3rem;


    #titulomarcas {
        margin-top: 2rem;
        font-family: 'Teko', sans-serif;
        color: map-get($map:$colors, $key:subtitulos);
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 1rem;

        @media screen and (min-width: 320px) and (max-width:1199px) {
            font-size: 20px;
        }
    }

    #logoMarcas {
        @media screen and (min-width: 320px) and (max-width:1199px) {
            height: 50%;
            width: 100%;
        }
    }


    .marca {
        padding: 1rem;
    }
}